/* Variables */
$font-main: 'Lato', sans-serif;
$font-check-box: "Roboto", sans-serif;
$accent-color: #F16D7F;
$text-color: #000;
$subtext-color: #5D5D5D;
$menu-width: 232px;
$menu-height: 634px;
$header-height: 122px;
$menu-shadow: 0 0 10px rgba(0,0,0,0.15);
$filter-color: #636363;
$width-site: 1140px;
$background-color-nav:rgba(248, 243, 244, 1);